{% set main_menu = page.primary_menu|render %}
{% set secondary_menu = page.secondary_menu|render %}


<div{{ attributes.addClass(
  'layout-container',
  main_menu or secondary_menu ? 'with-navigation',
  secondary_menu ? 'with-subnav'
) }}>
    
  <!-- ______________________ HEADER _______________________ -->
{#  Inclusion du markup du Header pour plus de lisibilité 
Voir fichier @html.html.twig
#}
  


<!-- ______________________ CONTENT INNER GLOBAL _______________________ -->

<div class="content-inner">

            <!-- ______________________ CONTENT TOP NODE_______________________ -->
        {# Les classes et IDs de la region sont attribuées par le template de region dédié #}
        {% if page.content_top_node %} 
            {{ page.content_top_node }}
        {% endif %}
        


    
        
        {% if page.content_top is not empty %} 
            <div class="content-top">
            {{ page.content_top }}
            </div> <!-- /#content-top -->
        {% endif %}
        
    


        {% if page.highlighted is not empty  %}
              <div id="highlighted">{{ page.highlighted |render }}</div>
            {% endif %}

     {#       {{ title_prefix }}

            {% if title %}
              <h1 class="title">{{ title }}</h1>
            {% endif %}

            {{ title_suffix }}
            {{ page.help }}
#}
            {% if tabs %}
              <div class="tabs">{{ tabs }}</div>
            {% endif %}

            {% if action_links %}
              <ul class="action-links">{{ action_links }}</ul>
            {% endif %}

    
    
    <!-- ______________________ CONTENU CENTRAL _______________________ -->
    {# 
Permet d'ajouter des classes dynamiques ou non aux éléments du markup
#}
    <article{{ attributes.addClass(
'middle-content',
'node--type-' ~ node.bundle|clean_class,
'node-id-' ~ node.id
).removeClass('layout-container') }}>
{{ page.content }}
    </article> <!-- /#content-area -->

    <!-- ______________________  ACCES RUBRIQUES 3 - CONTACT  _______________________ -->
{% if page.RubriquesHP3 %}
    <div class="acces_rubriques">{{ RubriquesHP3 }}</div>
{% endif %} 

<!-- ______________________ ACCES LOGOS PARTENAIRES _______________________ -->
{% if page.LogoPart %}
    <div class="logo_partenaires">{{ LogoPart }}</div>
{% endif %}   

<!-- ______________________ CONTENU BAS _______________________ -->
{# Les classes et IDs de la region sont attribuées par le template de region dédié #}
{% if page.content_bottom %}
    <div class="content-bottom">
        {{ page.content_bottom }}
    </div><!-- /#content-bottom -->
{% endif %}
    
</div> <!-- /content-inner /content -->

  <!-- ______________________ FOOTER _______________________ -->
{# Inclusion du markup du Footer pour plus de lisibilité 
Voir fichier @html.html.twig
#}  
  

</div><!-- /.layout-container -->